@model Vidly.ViewModels.MovieViewModel

@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Movie Detail</h2>

@using (Html.BeginForm("SaveMovie", "Movies"))
{

    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.RelaseDate)
        @Html.TextBoxFor(x => x.RelaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.GenreId)
        @Html.DropDownListFor(x => x.GenreId, new SelectList(Model.Genres, "Id", "Type"), "Select Genre", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.NumberInStock)
        @Html.TextBoxFor(x => x.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save Changes</button>

}

